.newsImage img {
  object-fit: cover;
  /* width: 11%; */
  /* aspect-ratio: 5/3; */
  height: 94px;
  width: 146px;
  margin: 0px 11px;
}
.newsMainDiv {
  display: flex;
  flex-direction: column;
  margin-bottom: 42px;
  padding-top: 65px;
  margin-bottom: 42px;
}
.newsMainDiv h3 {
  color: #0a4422;
  margin-bottom: 33px;
}
.newsMainCards {
  display: flex;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #f1f1f1;
  /* margin: auto; */
  /* gap: 10px; */
  color: black;
  width: 100%;
  padding: 25px;
  margin-bottom: 20px;
  transition: all 0.4s ease;
  cursor: pointer;
}

.newsMainCards:hover{
  scale: 1.05;
}
/* .newsTitleDiv {
    width: 77%;
    margin: auto;
  } */
.newsCardsTitle p {
  font-weight: bold;
}
.newsCardsTitle .newsCardsDescription {
  font-weight: 400 !important;
}
.readMoreDiv p {
  color: #2b613f;
  font-weight: 400 !important;
}

.readMoreDiv p:hover {
  border-bottom: 1px #2b613f solid;
  width: fit-content;
  cursor: pointer;
}

@media (max-width: 480px) {
  .newsMainDiv {
    padding-top: 85px;
  }
  .newsImage {
    display: flex;
    align-items: center;
  }
  .newsImage img {
    height: 88px !important;
    width: 117px !important;
  }
  .newsCardsTitle {
    width: fit-content;
  }
  .newsCardsTitle p {
    font-weight: bold;
    font-size: 12px;
    overflow: hidden;
  }
  .newsCardsDescription {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 6rem;
    white-space: nowrap;
  }
}

@media (min-width: 1150px) and (max-width: 1290px) {
  .newsMainCards {
    width: 89%;
  }
  .newsTitleDiv {
    width: 89%;
  }
}
